.task {
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 2s; /* Safari */
}

.task:hover {
    background-color: #e9ecef;
    border-radius: .3rem;
}

.color-white {
    color: white;
}

.color-twitter {
    color: rgba(29, 161, 242, 1.00);
}

/* Search bar */
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    width: 2.375rem;
    text-align: center;
}

.cur-pointer {
    cursor: pointer !important;
}

