.task {

}

.task:hover {
    background-color: #e9ecef;
    border-radius: .3rem;
}

.color-white{
    color: white;
}

/* Search bar */
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    width: 2.375rem;
    text-align: center;
}

.cur-pointer{
    cursor: pointer!important;
}
